.cart-container{
    background-image: url(../../assets/background4.png);
    background-size:cover;
    background-attachment: fixed;
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-align: center;
        padding: 1rem;
    }

    .cart-summary{
        text-align: center;
        background-color: #ffffff10;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid white;
        padding: 2rem 0;
        
        .row{
            align-items: center;
            margin-bottom: 3rem;
            
            .col{
                margin: 0 2rem;

                @media only screen and (max-width: 575px) {
                    margin-top: 1rem
                }
            }

            p{  
                font-size: 1.5rem;
            }

            .delete-icon{
                width: 5rem;
                height: 5rem;
                cursor: pointer;
            }
        }
    }   

    .counter{

        @media only screen and (max-width: 575px) {
            width: 6rem;
            height: 3rem;
            font-size: 1rem;
            padding: 0.25rem;
            margin-bottom: 0.5rem;
            border-radius: 10%;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            background-color: dimgray;
            margin-left: 3.5rem;
            
        
            button{
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            }
        
            p{
                color: white;
                margin-top: 1rem;
                font-size: 1rem;
            }
        }
    }

    .total-price{
        font-size: 2rem;
        margin-bottom: 1rem;

        @media only screen and (min-width: 575px) {
            font-size: 3rem;
        }
    }

    .cart-buttons{
        display: flex;
        justify-content: center;
       
        button{
            font-size: 1rem;
            margin:0 1rem;

            @media only screen and (min-width: 575px) {
                font-size: 2rem;
            }
        }
    }
}

.empty-cart{
    background-image: url(../../assets/background3.jpeg);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;

    p{
        color: white;
       
        text-align: center;
        font-size: 3rem;
        margin-top: 4rem;
    
        @media only screen and (min-width: 768px) {
            font-size: 4rem;
            margin-top: 4rem;
        }
    }

    button{
        font-size: 2rem;
        color: white;
        background-color: darkslategray;
        border-radius: 10px;
        padding: 1rem;

        &:hover{
            letter-spacing: 2.5px;
        }

        &:after,
        &:before {
            backface-visibility: hidden;
            border: 1px solid rgba(#fff, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover:after,
        &:hover:before {
            backface-visibility: hidden;
            border-color: #fff;
            transition: width 350ms ease-in-out;
            width: 100%;
        }

        &:hover:before {
            bottom: auto;
            top: 0;
            width: 100%;
        }
    }
}