
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form{
        margin-top: 3rem;
        height: 40rem;
        width: 63rem;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .form-group{
            margin: 2rem 0 0 2rem;

            .form-label{
                font-size: 2rem;
            }
        
            .form-control{
                width: fit-content;
                font-size: 2rem;
            }
        }

        .submit-btn{
          
            margin: 2rem 0 0 2rem;
            font-size: 2rem;
            
        }
    }
    .modal-purchase{
        height: 20rem;
        width: 50rem;
        font-size: 2rem;
        border: solid 1px;
        margin-top: 2rem;
        padding: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
