.item-detail-container{
    background-image: url(../../assets/background2.jpeg);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 95vh;

    .card-loader{
        position: absolute;
        font-size: 3rem;
        color: white;
        top:30%;
        left: 40%;
    }
}

