.item-detail-container{
    background-image: url(../../assets/background2.jpeg);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;

    .card-loader{
        position: absolute;
        font-size: 3rem;
        color: white;
        top:30%;
        left: 40%;

        @media only screen and (max-width: 575px) {
            left: 30%;
        }

        img{
            margin-bottom: 1rem;
            height: 15rem;
            width: 30rem;

            @media only screen and (max-width: 575px) {
                position: relative;
                right: 30%;

            }

        }
    }
}

